/* By default view */
.menuIcon {
    display: none;
    cursor: pointer;
}

/* Responsive Nav-bar */
@media only screen and (max-width: 1167px) {
    .menuIcon {
        display: block;
        color: #fff;
        margin-right: .8rem;
    }

    .menuIcon svg {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin: auto;
    }
}
