.banner {
    margin: 0 auto;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.indexpageContent{
    margin: 0 auto;
    max-width: 70vw;
    padding: 0.5rem;
}

.paragraph{
    line-height: 1.6;
    margin-bottom: 1rem;
}

.entryBtnGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.entryBtnGroup a {
    width: 15rem;
    display: block;
    margin: 1rem auto;

}
.btnBox {
    width: 18rem;
    display: flex;
    flex-direction: column;
}
.infoText {
    font-size: 14px;
    color: #999999
}



@media (min-width: 768px) and (max-width: 1024px) {
    .banner {
        height: 50vh;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .banner {
        height: 45vh;
    }
}

@media only screen and (max-width: 480px) {
    .banner {
        height: 40vh;
    }
}

