.kudosHomePage {
    margin: 0 auto;
    min-height: 70vh;
    max-width: 85vw;
    padding: 0.5rem;
}

.kudosGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.searchBar {
    text-align: center;
    margin: 1rem auto;
    max-width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filterBar {
    text-align: center;
    margin: 1rem auto;
    max-width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Card module */
.leftSection {
    display: flex;
    justify-content: flex-start;
}

.rowSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ScrollButton */
.backToTopHidden {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.backToTopVisible {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.paginationBar {
    margin: 2rem 0;
}

.paginationItem li {
    padding-bottom: 0;
}

.visitCard:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 0.2s ease;
}


@media only screen and (max-width: 1400px) {
    .kudosGrid {
        gap: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .kudosGrid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media only screen and (max-width: 992px) {
    .kudosGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .searchBar {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 576px) {
    .kudosGrid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

}