.myKudosPage {
    margin: 0 auto;
    min-height: 70vh;
    max-width: 85vw;
    padding: 0.5rem;
}

.tabPanel {
    margin: 0 auto;
    max-width: 100%;
}

.grid {
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}



@media only screen and (max-width: 1400px) {
    .grid {
        gap: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .infoCard {
        width: 300;
        margin: 0 auto;
    }
}